<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.image.attached? %>
        <%= image_tag product.image, style: "max-width: 150px;" %>
      <% end %>
      <%= link_to product.name, product_path(product) %>
      <p>Price: $<%= product.price %></p>
      <p>Category: <%= product.category.name %></p>
    </li>
  <% end %>
</ul>
